---
layout: default
section_id: home
slides:
  - bg: images/hero-1.jpg
    title:
      text: Hi there! I'm your Chief Mustache Officer.
      animation: bottom-to-top
      class: large-8 medium-11
    buttons:
      animation: bottom-to-top
      class: medium-12
      items:
        - text: Let's chat
          url: mailto:hi@chiefmustacheofficer.com
          class: boxed

boxes:
  - icon_class: fa fa-magic
    title: Branding
    text:
      Branding is a lot more than a logo or a color scheme. Brand answers the fundamental question of why you're in business, and nailing branding helps you align your company, your employees, and your customers around core values.
  - icon_class: fa fa-bar-chart-o
    title: Growth Hacking
    text:
      I've been doing what they now call "Growth Hacking" for 15 years now; I used to call it "Scientific Marketing." I am expert at devising &amp; running tests to discover what marketing channels and tactics work best for your company. I also teach teams how to adopt the growth hacking mindset in their own marketing.
  - icon_class: fa fa-compass
    title: Strategy
    text:
      I love marketing execution and have been making websites and ad campaigns for more than 20 years, but I've also got 15 years of experience in building strategy for companies, ranging from marketing strategy, revenue optimization, creating go to market plans, and more. 
  - icon_class: fa fa-users
    title: Leadership
    text:
      A leader is a servant for their people. Recruiting, training, motivating, and empowering team members with 1 year of experience or a decade, a leader works best when he or she creates processes that are flexible enough to leave room for individual creativity while still providing clear and measurable guidance.
  - icon_class: fa fa-gift
    title: Fun
    text:
      You don't grow a mustache like mine without a healthy appreciation for the silly. In addition to all of the business-centric value I add, I bring a certain irreverence and fun to work. You're at the office 8 hours a day; you might as well have a little fun while you're there. :)
milestones:
  - from: 0
    to: 69
    title: Projects Completed
  - from: 0
    to: 726
    title: Cups of coffee offered
  - from: 0
    to: 59
    title: Happy clients
  - from: 0
    to: 21
    title: Articles Published

testimonials:
  - text: "Trevor is an experienced and highly skilled marketer who can build strong teams and lead them to achieve company goals."
    author: Maria Sergo
    position: Marketing Specialist at Unito.io
  - text: "Trevor was a wonderful boss - always willing to pitch in with his creativity and industry know how while at the same time giving me space to do things my way"
    author: Piotr Szczesniak
    position: PR Specialist at GOG.com
  - text: "Trevor was a great mentor, demanding editor, and brought amazing attention to detail and incredible patience [...] He built a team of people driven to ship, create, and achieve."
    author: Agnieszka Gasiorek
    position: Head of Marketing at Kontakt.io

clients:
  - images/@stock/client-1.png
  - images/@stock/client-2.png
  - images/@stock/client-3.png
  - images/@stock/client-4.png
  - images/@stock/client-5.png
  - images/@stock/client-6.png

---

<div class='advanced mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
 <!--   <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a> !-->
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.index == 1 %}
          <li class='current'></li>
        {% else %}
          <li></li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.index == 1 %}
          {% assign class = "static" %}
        {% else %}
          {% assign class = '' %}
        {% endif %}

        <li class='frame {{class}}'>
          <div class='bg' style='background-image: url({{slide.bg}});'></div>
          {% if slide.infos %}
            {% for info in slide.infos %}
              <div class='info{{forloop.index}} {{info.animation}}' style=''>
                <div class='row'>
                  <div class='medium-10 large-8 columns'>
                    <p class='fa fa-check' style='color: #333;'>{{info.text}}</p>
                    <div class='spacing'></div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class='title {{slide.title.animation}}' style='color: rgb(255, 255, 255);'>
              <div class='row'>
                <div class='{{slide.title.class}} columns'>
                  <h2>{{slide.title.text}}</h2>
                </div>
              </div>
            </div>
          {% endif %}
          <div class='buttons-wrapper {{slide.buttons.animation}}' style=''>
            <div class='row'>
              <div class='{{slide.buttons.class}} columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a target="_blank" class='button {{button.class}}' href='{{button.url}}'>{{button.text}}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class='full'>
  <div class='row'>
    <div class='large-6 columns'>
      <h2>I "mustache" you a question</h2>
      <div class='spacing'></div>
      <p class='intro'>What's the problem that challenges your business? What could your business do if you boosted your ROI and decreased your cost of acquisition? There's an answer to those questions, and I can help you find it. Here's the kind of things I specialize in:</p>
    </div>
        <div class='large-2 columns'>
      <div class='spacing'></div>
    </div>
    <div class='large-3 columns'>
      <img src="/images/ChiefMustacheOfficer_Logo.png">
    </div>
        <div class='large-1 columns'>
    </div>
  </div>
  <div class='three spacing'></div>
</div>
<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedTextSlider'>
        <div class='boxes'>
          {% for box in page.boxes %}
            <div class='box' style=''>
              <i class='{{box.icon_class}}'></i>
              <h4>{{box.title}}</h4>
              <p>{{box.text}}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>




<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" width="500" height="340" alt="" src="images/@stock/macbook.png" />
    </div>
    <div class='medium-6 columns'>
      <div class='spacing'></div>
      <h4 style='color: #999'>We all love</h4>
      <h2>Fully responsive</h2>
      <div class='spacing'></div>
      <p>This is the text about your Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.</p>
      <div class='spacing'></div>
      <a class='button small' href='#'>Learn more</a>
    </div>
  </div>
  <div class='four spacing'></div>
  <div class='row'>
    <div class='medium-6 columns'>
      <div class='two spacing'></div>
      <h4 style='color: #999'>Simple</h4>
      <h2>Easy to use</h2>
      <div class='spacing'></div>
      <ul class='shortcode-list'>
        <li>
          <i class='fa fa-check'></i>
          This is a check list item, htis is a check list item
        </li>
        <li>
          <i class='fa fa-check'></i>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit ipsum
        </li>
        <li>
          <i class='fa fa-check'></i>
          Sed diam nonummy nibh euismod tincidunt ut, lorem ipsum dolor sit amet
        </li>
        <li>
          <i class='fa fa-check'></i>
          Dolore magna aliquam erat volutpat consectetu amet magna adipiscing
        </li>
      </ul>
      <div class='spacing'></div>
      <a class='button small' href='#'>Learn more</a>
    </div>
    <div class='medium-6 columns'>
      <img class="fadeinright" width="500" height="400" alt="" src="images/@stock/circle-1.png" />
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<!--
<div class='full parallax' style='background: #f5f5f5'>
  <div class='row'>
    {% for milestone in page.milestones %}
      <div class='medium-3 large-3 columns right-border left-border'>
        <div class='mod modMilestone no-icon'>
          <strong data-from='{{milestone.from}}' data-to='{{milestone.to}}'>&nbsp;</strong>
          <span>{{milestone.title}}</span>
          <div class='spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='four spacing'></div>
</div>
!-->
<!--
<div class='full no-padding' style='background: #444; color: #fff'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p>Like what you see here? Checkout this theme and start to build your site immediately.</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='boxed button' href='http://themeforest.net/user/honryou/portfolio?ref=honryou'>Learn more</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>
!-->
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #F9CE06; font-size: 36px;'></i>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for t in page.testimonials  %}
                <div class='item'>
                  <p class='quote'>{{t.text}}</p>
                  <p class='author'>- {{t.author}}, {{t.position}}</p>
                  <div class='two spacing'></div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
<div class='full parallax' style='background-image: url(../images/@stock/customers-bg.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modClients' data-slides_to_show='4'>
        <div class='clients'>
          {% for client in page.clients %}
            <div><img alt="" src="{{client}}" /></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>




